---
import Proyect from '../components/Proyect.astro'

const exampleProjects = [
    {
        title: 'Proyecto 1',
        description: 'Descripci贸n del proyecto 1',
        image: 'https://via.placeholder.com/150'
    },
    {
        title: 'Proyecto 2',
        description: 'Descripci贸n del proyecto 2',
        image: 'https://via.placeholder.com/150'
    },
    {
        title: 'Proyecto 3',
        description: 'Descripci贸n del proyecto 3',
        image: 'https://via.placeholder.com/150'
    },
    {
        title: 'Proyecto 4',
        description: 'Descripci贸n del proyecto 4',
        image: 'https://via.placeholder.com/150'
    }
]

---

<section class="container" id="proyects-box">
    <h2 class="subtitle">Proyectos</h2>
    <div class="grid-container" id="grid-container-proyects">
        <Proyect title={exampleProjects[0].title} text={exampleProjects[0].description} img={exampleProjects[0].image}/>
        <Proyect title={exampleProjects[1].title} text={exampleProjects[1].description} img={exampleProjects[1].image}/>
        <Proyect title={exampleProjects[2].title} text={exampleProjects[2].description} img={exampleProjects[2].image}/>
        <Proyect title={exampleProjects[3].title} text={exampleProjects[3].description} img={exampleProjects[3].image}/>
    </div>
</section>

<style>
    #proyects-box {
        background-color: #fff;
        margin: 20px auto;
    }
    #grid-container-proyects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 20px;
        margin: 20px;
    }
    #cards {
        width: 100%;
        height: 100%;
    }
    @media screen and (max-width: 768px) {
        #grid-container-proyects {
            grid-template-columns: 1fr;
        }
    }
</style>
